<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Register error| Vuelve a intentar</title>

    <style>
        body {
            background: rgb(0, 0, 0);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 40%, rgb(0, 0, 0, 0.85) 100%);
        }
        .container__all {
            background: rgba(222, 156, 156, 0.857);
            box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
            border-radius: 20px;
        }
        .margen {
            margin-top: 5%;
        }
    </style>

</head>

<body>

    <div>

        <div class="container margen w-75 container__all">

            <div class="row align-items-stretch">
                
                <div class="col p-5">

                    <h2 class="fw-bold text-center pt-5">Error al registrarse!</h2>
                    <p class="text-center mb-1">Valores introducidos inválidos o ya existentes</p>
                    <p class="text-center mb-5">¿Deseas volver a intentar?</p>

                    <div class="d-grid">
                        <a href="/register" class="btn btn-primary">Volver a intentar</a>
                    </div>
                    
                </div>

            </div>

        </div>    
    

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
</body>

</html>


